.banner{
    display: inline-block;
    margin-top: 2.4rem;
    margin-left: 1.2rem;
    align-items: center;
}

.alingn-box-buttons{
    display: flex;
    justify-content: space-evenly;
    
}

@media (max-width : 800px){
    #boxBanner{
        padding: 15px 20px;
        
    }
}