.botao{
    display: inline-block;
    background-color: #f25a70;
    padding: 18 20px;
    box-shadow: 5px 4px black;
    margin-right: 0;
    transition: transform 0.8s;

}

.btn-move{
    animation: Movebtn 1s ease-in-out infinite;
}

.botao:hover{
    background-color: #e07081;
    transform: scale(1.08);
    animation: none;    
}


.audiocontroler{
    width: 30px;
    height: 30px;
    background-color: #f25a70;
    border-radius: 50%;
    box-shadow: 3px 2px;
    background-image: url('../../../public/images/volume_off_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    transition: linear 0.2s;
    z-index: 101;

    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -moz-user-select: none;       
    user-select: none;       
}
.audiocontroler:hover{
    transform: scale(1.1);
}

/******************* MOBILE *******************/

@media only screen 
and (max-width : 800px){
    .botao{
        margin-top: 10px;
        padding: 5px 5px;
        margin-right: 0;
    }
}


@keyframes Movebtn{
    0%{
        transform: scale(1.00);
    }
    
    50%{
        transform: scale(1.08);
    }
    100%{
        transform: scale(1.00);
    }
}