header{
    background-color: #7c5e99;
    padding: 10px 20px;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    text-align: right;
    
}

nav a, section a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    margin-right: 1rem;
    transition: transform 0.4s;

}


a:before{
    content: "";
    background-color: #f25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
    
}

a:hover{
    transform: scale(1.08);
    
}

#menu2{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 100%;
}
#menu2 a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 28px;
    transition: linear 0.2s;
}
#menu3{
    width: 50px;
    height: 50px;
    background-color: black;
    display: none;
}

/******************* MOBILE *******************/

@media only screen 
and (max-width : 800px){
    header{
        display: block;
        text-align: center;
    }
    nav{
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    a{
        font-size: 15px;
        margin-right: 0.5rem;
    }
    img{
        max-height: 80px;
    }
    .banner{
        margin-top: 0.6rem;
        margin-left: 0.4rem;
    }

}

@media only screen 
and (max-width : 650px){
    header{
        display: flex;
        justify-content: space-between;
    }
    #menu1{
        display: none;
    }
    #menu3{
        display: initial;
    }
}