.main-title {
    
    font-size: 30px;
    font-family: "Press start 2p";
    color: #f25a70;
    text-shadow: 4px 4px black;
    
}
.main-title.-secund{
    font-family: "Press start 2p";
    color: #fff;
    text-shadow: none;
    text-align: center;
}

.subtitle{
    font-size: 20px;
    color: #fff;
    text-shadow: 4px 4px black;
    
}

.subtitle.-secund{
    font-size: 20px;
    color: #fff;
    text-shadow: none;
    
}



/******************* MOBILE *******************/

@media (max-width : 800px){
    #boxBanner .main-title{
        font-size: 1.16rem;
    }
    .subtitle{
        font-size: 0.98rem;
    }
}