.title{
    font-size: 30px;
    color: #f25a70;
    text-shadow: 4px 4px black;
    
}
.subtitle{
    font-size: 20px;
    color: #fff;
    text-shadow: 4px 4px black;
    
}

.title.-secund{
    color: #fff;
    text-shadow: none;
    text-align: center;
}

/******************* MOBILE *******************/

@media only screen 
and (max-width : 800px){
    h1{
        font-size: 0.96rem;
    }
    h2{
        font-size: 0.64rem;
    }
}