.wrapper-skill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 80vw;
    margin-top: 80px;
    
}

@media (max-width:800px){
    .wrapper-skill{
        grid-template-columns: repeat(1,1fr);
    }
}



@media (max-width:650px){
    .wrapper-skill .title{
        font-size: 18px;        
    }
}