*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f25a70;
    font-family: "Fira code",sans-serif;
    font-size: 20px;
}



/*********************** CABEÇALHO *************************/
header{
    background-color: #7c5e99;
    padding: 10px 20px;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    text-align: right;
    
}
a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    margin-right: 1rem;
    transition: transform 0.4s;

}

a:before{
    content: "";
    background-color: #f25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
    
}

a:hover{
    transform: scale(1.08);
    
}

/*********************** SEÇOES *************************/

/*
section{
    max-width: 900px;
    margin: 2rem auto;
    border-bottom: 1px solid rgb(53, 52, 52);
    padding: 2rem;
    text-align: center;
}
*/





section .botao{
    margin-right: 10px;
}

.Fundoimg{
    background-image: url(../../public/images/Backgraund.jpg);
    background-repeat: no-repeat ;
    background-size: 100%;
    height: 700px;
    border-bottom: 10px solid #000;
}

.banner{
    display: inline-block;
    margin-top: 2.4rem;
    margin-left: 1.2rem;
    align-items: center;
}

.alingn-box-buttons{
    display: flex;
    justify-content: space-evenly;
    
}




@media only screen 
and (max-width : 800px){
    header{
        display: block;
        text-align: center;
    }
    nav{
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    a{
        font-size: 15px;
        margin-right: 0.5rem;
    }
    img{
        max-height: 80px;
    }
    .banner{
        margin-top: 0.6rem;
        margin-left: 0.4rem;
    }
}